.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray);
    padding: 0rem 2rem;
    z-index: 1000;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.header.scrolled {
    background-color: var(--color-white);
}

.logo {
    display: flex;
    align-items: baseline;
    margin-top: 0.5rem;
    text-decoration: none;
}

.logoImage {
    width: 60px;
    height: 60px;
    margin-right: 0.4rem;
}

.logoText {
    color: var(--color-white);
    font-size: 3.5rem;
    font-weight: 500;
    font-family: var(--font-secondary);
    line-height: 1;
}

.logoText.scrolled {
    color: var(--color-gray);
}

.nav {
    display: flex;
    align-items: center;
}

.navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-white);
}

.navList.scrolled {
    color: var(--color-gray);
}

.navList li {
    margin-left: 1rem;
}

.navList li a {
    text-decoration: none;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-primary);
}

.navList li a:hover,
.navList li a.activeNavLink {
    color: var(--color-primary);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger.scrolled .bar {
    background-color: var(--color-gray);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--color-white);
    margin: 4px 0;
    transition: 0.4s;
}

.bar.scrolled {
    background-color: var(--color-gray);
}

.hamburger.open .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .bar2 {
    opacity: 0;
}

.hamburger.open .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-gray);
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .nav.open {
        display: flex;
        background-color: var(--color-gray);
    }

    .nav.open_scrolled {
        display: flex;
        background-color: var(--color-white);
    }

    .navList {
        flex-direction: column;
        width: 100%;
        color: var(--color-white);
    }

    .navList li {
        margin-left: 0;
        width: 100%;
    }

    .navList li a {
        display: block;
        width: 100%;
        padding: 1rem;
        text-align: left;
    }

    .hamburger {
        display: flex;
    }
}