.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-gray);
  color: var(--color-white);
  padding: 2rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.intro {
  flex: 1;
}

.hello {
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
}

.name {
  font-size: 8rem;
  padding-top: 2rem;
  line-height: 0.75;
  margin: 0;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: 600;
}

.role {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  opacity: 0;
}

.animate {
  animation: rollIn 2.5s forwards;
}

@keyframes rollIn {
  0% {
    top: -200px;
    transform: rotateX(-90deg);
  }
  10% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  90% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    top: 50px;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.socials a {
  color: var(--color-white);
  margin: 1rem 0;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: var(--color-primary);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 1rem;
  margin-top: 2rem;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.25rem;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Add spacing between icon and text */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.image {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 48%;
  height: auto;
  transition: transform 0.1s ease-out;
  z-index: 1; /* Ensure the image is below box2 */
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.box1, .box2, .box3, .box4 {
  position: absolute;
  transition: transform 0.1s ease-out;
}

.box1 {
  width: 90px;
  height: 120px;
  background-color: var(--color-primary);
  top: 20%;
  left: 50%;
}

.box2 {
  width: 170px;
  height: 170px;
  background-color: var(--color-primary);
  bottom: 9%;
  right: 34%;
  z-index: 2; /* Ensure box2 is above the image */
}

.box3 {
  width: 400px;
  height: 500px;
  background-color: var(--color-primary);
  top: 15%;
  right: 1%;
  transform: translateY(-50%);
}

.box4 {
  width: 680px;
  height: 680px;
  border: 6px solid var(--color-white);
  top: 12%;
  right: 2%;
  transform: translateY(-50%);
}

/* Responsive styles */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }

  .name {
    font-size: 4rem;
  }

  .role {
    font-size: 1.5rem;
  }

  .image {
    display: none;
  }

  .socials {
    position: static;
    margin-top: 1rem;
    margin-right: 2rem;
  }

  .socials a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }

  .box1, .box2, .box3, .box4 {
    display: none;
  }

  .buttons {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center the buttons */
    gap: 1rem; /* Add spacing between stacked buttons */
  }

  .button {
    width: 90%; /* Make buttons take up most of the screen width */
    font-size: 0.9rem; /* Slightly smaller font size for mobile */
  }
}