.container {
  font-family: Arial, sans-serif;
}

.main {
  padding: 2rem;
}

.section {
  padding: 4rem 0;
}

.section:nth-child(odd) {
  background-color: #f9f9f9;
}

.section:nth-child(even) {
  background-color: #e9e9e9;
}